---
---

@import "minima";

// Add your custom CSS here

.text-center,
.post-title {
    text-align: center!important;
}

.post-title {
    text-align:center;
    margin: 2rem 0;
}

img {
    border-radius: 20px;
}

figcaption {
    font-size: 1rem;
    padding: 0.5rem 0;
}
figure {
    background-color: #eee;
    border-radius: 20px;
}